header {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(12, 1fr);
    background-color: midnightblue;
}

h3 > a {
    color: #fff;
}

.logo {
    grid-area: 1/2/span 2/span 3;
}

nav {
    grid-area: 1 / 9 / span 1 / span 4;
    justify-self: right;
}

.about {
    color: #fff;
}

.contact {
    color: #fff;
}

.login {
    color: #fff;
}

h1 {
    grid-area: 1 / 4 / span 2 / span 6;
    color: #fff05a;
    justify-self: center;
    font-family: cursive;
    margin: 0;
    align-self: center;
}

main {
    background-image: url("https://i.imgur.com/tZHngpu.jpg");
    background-size: cover;
    min-height: 500px;
    display: grid;
    grid-template: repeat(12, 1fr)/repeat(12, 1fr);
}

h2 {
    color: #000;
    grid-area: 1/1/span 1/span 4;
}

form {
    color: #000;
    grid-area: 2/1/span 2/span 12;
}

.location {
    grid-area: 2/1/span 2/span 4;
}

.accessibility {
    grid-area: 2/5/span 2/span 4;
}

.species {
    grid-area: 2/9/span 2/span 4;
}

.submit {
    grid-area: 4/6/span 1/span 2;
}

.background {
    grid-area: 1/1/span 9/span 12;
}

.hotSpots {
    color: #000;
    grid-area: 9/1/span 4/span 3;
}

.posts {
    color: #000;
    grid-area: 9/10/span 4/span 3;
}